.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.landing-img-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.details-button {
  width: 5rem;
  margin: 2rem auto;
}



#heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-weight: 900;
  line-height: 1.15;
  text-align: center;
  margin-right: 5%;
  /* z-index: 1; */
}

#heading-top,
#heading-and,
#heading-bottom {
  font-size: 6rem;
  text-decoration: none;
  transition: all 0.1s linear;
  -webkit-transition: -webkit-transform all 0.1s linear;
  -moz-transition: -moz-transform all 0.1s linear;
  -ms-transition: -ms-transform all 0.1s linear;
}

#heading-and {
  font-size: 3rem;
}

#heading-container p {
  font-size: 24px;
  margin: 10px 0;
}




/* Mobile responsive design */
@media screen and (max-width: 768px) {

  .landing-container {
    flex-direction: column;
  }

  .landing-img-container, #heading-container {
    width: 100%;
    margin-right: 0;
  }

  #heading-container {
    margin-top: 5%
  }

  .landing {
    align-items: center;
  }

  #heading-container h1 {
    font-size: 28px;
  }

  #heading-container p {
    font-size: 18px;
  }

  /* button {
    padding: 8px 16px;
    font-size: 16px;
  } */
}