@import url("https://use.typekit.net/std3xut.css");

body {
  margin: 0;
  padding: 0;
  font-family: "brother-1816", sans-serif;
  background-color: #A0522D;
  color: #EFE9DD;
  /* Updated font color */
  flex-direction: column;
  align-items: center;
  }

img {
  image-orientation: from-image;
}

a {
  color: #EFE9DD;
  font-weight: 700;
  transition: all 350ms;
}

.photos-column {
  width: 20%;
  padding: 10px;
}

.photos-column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.details-content {
  width: 75%;
  padding: 10px;
}

.details-content h1 {
  font-size: 28px;
  color: #84894A;
}

.details-content h2 {
  font-size: 20px;
  margin: 15px 0;
  color: #BF5700;
}

.button {
  color: #EFE9DD;
  background-color: #84894A;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 4rem;
  /* Updated button color */
  border: none;


  cursor: pointer;
  margin: 20px;
}

button:hover {
  background-color: #BF5700;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

